@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


.highcharts-container {
    font-family: 'Rubik', sans-serif !important;
}


html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    line-height: 1.3;
}

.main-header{
    font-size: $h1-big;

    @media (max-width: 800px) {
        font-size: $h1-small;
    } 
}

.secondary-header{
    font-size: $h2;
    margin-bottom: 16px;
    @media (max-width: 700px) {
        font-size: 24px;
    } 
}

.tertiary-header{
    font-size: $h3;
}
.body-text{
    font-size: $body;
}
.small-text{
    font-size: $small;
}