

$bg-dark: #304268;
$bg-light: #40537D;
$text-color: #D8E8F5;
$accent: #F16101;
$main: #84E8B4;
$main-transparent: rgba(92, 131, 111, 0.4);
$bg-secondary-dark: #F9F9F9;
$bg-secondary-light: #FFFFFF;


$big-container: 1100px;
$small-container: 600px;

$h1-big: 70px;
$h1-small: 50px;
$h2: 32px;
$h3: 24px;
$body: 16px;
$small: 14px;