@import "~reset-css/reset.css";
@import "./vars";
@import "./typography";



*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: $bg-dark;
    color: $text-color;
    overflow-x: hidden;
}

.highcharts-container {
    fill: transparent !important;
    background-color: transparent !important;
}

.highcharts-background {
    fill: transparent !important;
}
.highcharts-legend-box{
    fill: $bg-light !important;
    border: none !important;
    outline: none !important;
}
