
.content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.header{
    
}
.main{
    flex-grow: 1; 
}
.footer{
    box-shadow: 0 0 24px rgba(18, 18, 18, .25);
    margin-top: 32px;
}