@import '../../styles/vars';

.td{
    padding: 10px 5px;
    //border-bottom: 1px solid $main-transparent;     
}

.tr{
    display: flex;
    width: calc((100% * 1) - 4px);

}
.tr:nth-child(2n){
    background-color: $bg-light;
}

.td{
    flex: 1;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.colNum{
    flex: 0 0 48px;
}